body {
    background-image:url(images/klimt.jpeg) ;
    background-size: 100% 100%;
    color: #f9faf8;
    text-decoration: none;
}
    .container {
        display: flex;
        flex-direction: column;
    }
    .partone {
        display: flex;
        color: #F9FAF8;
        padding: 6px 0px 20px 80px;
        align-items: center;
    }
    .draco-logo img {
        width: 100px;
        margin-left: auto;
        margin-top: 16px;
        height: auto;
        border: 4px solid black;
    }    
    .options {
        display: flex;
        margin-left: auto;
        padding: 0px 100px 100px 12px;
    }
    .options a {
        text-decoration: none;
        color:black ;
        font-size: 20px;
        padding: 5px;
        font-family:serif;
    }
@font-face {
    font-family: Harry_Potter;
    src: url(HARRYP__.TTF);
}
@font-face {
    font-family: Lilo_Stitch;
    src: url(Buka\ Bird.ttf);
}
@font-face {
    font-family: Nightmare;
    src: url(NITEMARE.TTF);

}
@font-face {
    font-family: Donnie;
    src: url(FrankKnows-jr5l.ttf);
}
@font-face {
    font-family: rickandmorty;
    src: url(shlop\ rg.ttf);
}
@font-face {
    font-family: Game;
    src: url(Game\ of\ Thrones.ttf);
}
@font-face {
    font-family: spongebob;
    src: url(Spongeboy\ Me\ Bob.ttf);
}
    .lista{
        font-size: 24px;
        font-weight: bolder;
        text-decoration: none;
        width: auto;

    }
    a:visited{
        color: transparent;
    }